:root {
    --primary-text-color: #333;
    --background-color: #f6f6f6;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --input-border-color: #ddd;
    --button-color: #fff;
    --button-background-color: #007bff;
    --button-hover-background-color: #0056b3;
    --header-footer-background-color: grey;
    --main-background-color: #fff;
    --sidebar-background-color: grey;
    --tool-button-background-color: #ddd;
    --tool-button-border-color: #bbb;
    --tool-button-hover-background-color: #f7f7f7;
    --selected-tool-button-background-color: #fff;
    --color-button-background-color: #ddd;
    --color-button-border-color: #bbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary-text-color);
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul, ol {
    margin-bottom: 1rem;
    padding-left: 20px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

button, input[type="submit"] {
    background: var(--button-background-color);
    color: var(--button-color);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background: var(--button-hover-background-color);
}

.container {
    height: 100%;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    position: relative;
    background-color: var(--main-background-color);
}

#paintCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

#header, #footer {
    background-color: var(--header-footer-background-color);
    text-align: left;
    padding: 10px;
}

#header {
    height: 30px;
    display: flex;
    align-items: center;
}

#header span {
    margin-right: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#sidebar {
    z-index: 100;
    background-color: var(--header-footer-background-color);
    padding: 0 5px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 30px; /* height of the header */
    bottom: 60px; /* height of the footer */

}

#canvas {
    z-index: 50;
    background-color: var(--main-background-color);
    position: absolute;
    top: 30px; /* height of the header */
    bottom: 60px; /* height of the footer */
    left: 70px; /* width of the sidebar */
    right: 0;
}

#tools {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}

#custom {
    background: var(--background-color);
    margin-bottom: 10px;
}

.tool-button {
    width: 30px;
    height: 30px;
    background-color: var(--tool-button-background-color);
    border: 1px solid var(--tool-button-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-button:hover {
    background-color: var(--tool-button-hover-background-color);
}

.tool-button.selected {
    background-color: var(--selected-tool-button-background-color);
}

.color-button, .selected-color-button {
    width: 30px;
    height: 30px;
    background-color: var(--color-button-background-color);
    border: 1px solid var(--color-button-border-color);
}

.selected-color-button {
    margin-right: 10px;
}
