:root {
    --primary-color: #3879E9;
    --white: #fff;
    --black: #333;

    --background-color: #f1efee;
    --main-background-color: #fff;
    --header-footer-background-color: #C2D2ED;
    --sidebar-background-color: #C2D2ED;

    --primary-text-color: #333;
    --link-color: #000;
    --link-hover-color: #3879E9;

    --input-border-color: #ddd;

    --selected-tool-button-background-color: #fff;

    --button-color: #fff;
    --button-background-color: #3879E9;
    --button-hover-background-color: #1253c5;

    --tool-button-background-color: #ddd;
    --tool-button-border-color: #bbb;
    --tool-button-hover-background-color: #f7f7f7;

    --color-button-background-color: #ddd;
    --color-button-border-color: #bbb;

    --header-height: 50px;
    --sidebar-width: 100px;
    --spacing-minor: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary-text-color);
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul, ol {
    margin-bottom: 1rem;
    padding-left: 20px;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="range"],
textarea {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

button, input[type="submit"] {
    background: var(--button-background-color);
    color: var(--button-color);
    border: none;
    padding: 3px var(--spacing-minor);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 3px;
}

button:hover, input[type="submit"]:hover {
    background: var(--button-hover-background-color);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}

button:hover, input[type="submit"]:hover {
    background: var(--button-hover-background-color);
}

#canvas {
    z-index: 50;
    background-color: var(--main-background-color);
    position: absolute;
    top: var(--header-height); /* height of the header */
    bottom: 100px; /* height of the footer */
    left: var(--sidebar-width); /* width of the sidebar */
    right: 0;
}

#custom {
    margin-bottom: var(--spacing-minor);
}

#header, #footer {
    background-color: var(--header-footer-background-color);
}

#header {
    height: var(--header-height);
    padding: var(--spacing-minor);
    display: flex;
    justify-content: space-between;
}
#headerNav {
    display: flex;
    align-items: center;
}

#headerNav img {
    margin: 0 var(--spacing-minor) 0 0;
    height: 30px;
}

#headerNav h1 {
    font-size: 16px;
    margin: 0 30px 0 0;
}

#headerNav a, #headerNav span {
    margin-right: var(--spacing-minor);
    font-size: 14px;
    color: var(--black);
}

#headerNav a {
    color: var(--primary-color);
    position: relative;
}

#headerNav a:hover {
    color: var(--link-color);
}

#headerNav a:active {
    color: var(--link-color);
    top: 1px;
}

#headerControls {
    display: flex;
    align-items: center;
}

#headerControls button {
    display: inline-block;
}

#headerControls input {
    margin-bottom: 0;
}

#animationControls {
    display: flex;
    position: relative;
}

#animationControls span {
    position: absolute;
    top: -3px;
    left: 38px;
    font-size: 8px;
    text-transform: uppercase;
}

#animSpeed {
    width: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#footerColors {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0 var(--spacing-minor);
}

#footerText {
    background-color: var(--background-color);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#footerText span, #footerText a {
    margin-right: var(--spacing-minor);
}

#paintCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

#plugins {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#plugins [data-plugin] {
    width: 100%;
    overflow: hidden;
}

#plugins [data-plugin]:hover {
    cursor: pointer;
    text-decoration: underline;
}

#sidebar {
    z-index: 100;
    background-color: var(--sidebar-background-color);
    padding: 0 5px;
    width: var(--sidebar-width);
    position: absolute;
    left: 0;
    top: var(--header-height); /* height of the header */
    bottom: 100px; /* height of the footer */
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar h2 {
    font-size: 12px;
    margin: 0;
}

#sidebar button {
    margin: var(--spacing-minor) 0;
    width: 100%;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tools {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: var(--spacing-minor);
}

#newPluginContainer {
    display: flex;
    align-items: center;
}

#newPluginContainer button {
    margin-right: var(--spacing-minor);
}

.container {
    height: 100%;
    /* width: 90%; */
    margin: auto;
    /* max-width: 1200px; */
    position: relative;
    background-color: var(--main-background-color);
}

.tool-button {
    width: 30px;
    height: 30px;
    background-color: var(--tool-button-background-color);
    border: 1px solid var(--tool-button-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-button:hover {
    background-color: var(--tool-button-hover-background-color);
}

.tool-button.selected {
    background-color: var(--selected-tool-button-background-color);
}

.color-button, .selected-color-button {
    width: 30px;
    height: 30px;
    background-color: var(--color-button-background-color);
    border: 1px solid var(--color-button-border-color);
}

.selected-color-button {
    margin-right: var(--spacing-minor);
}

.tool-custom-ui {
    padding: 2px 4px;
    margin-bottom: 5px;
    font-size: 11px;
    background: var(--background-color);
}

.tool-custom-ui input, .tool-custom-ui textarea, .tool-custom-ui p {
    margin-bottom: 0;
}

.tool-custom-ui p {
    width: 100%;
    overflow: hidden;
}

.modal {
    background: var(--main-background-color);
    position: fixed; /* Use fixed position to stay in place even on scrolling */
    left: 50%; /* Center the div horizontally */
    top: 50%; /* Center the div vertically */
    transform: translate(-50%, -50%); /* Adjust the exact position of the div */
    width: 300px; /* Set a fixed width */
    border: 1px solid #ddd; /* Border for the div */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Shadow for popup effect */
    z-index: 1000; /* Ensure it's above other content */
    display: none;
    padding: 30px;
    border-radius: 4px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.595); /* Semi-transparent black */
    z-index: 999; /* Below the modal but above other content */
    display: none;
}

.scrollable {
    font-size: 11px;
    max-height: 105px;
    overflow: auto;
    background-color: var(--background-color);
}

.progress-container {
    display: none;
    background: var(--background-color);
    border-radius: 4px;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: var(--primary-color);
    transition: width 60s linear;
    border-radius: 4px;
}

.btn-wide {
    min-width: 120px;
}
.btn-lg {
    padding: 7px 17px;
    font-size: 16px;
    font-weight: bold;
}

.bg-1 { background-color: var(--primary-color); }
.bg-2 { background-color: var(--header-footer-background-color); }
.bg-3 { background-color: var(--tool-button-hover-background-color); }
.c-1 { color: var(--primary-color); }
.c-2 { color: var(--white); }
.c-3 { color: var(--black); }

.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem !important; } /* Adjust sizes as needed */
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 3rem !important; }
.m-0 { margin: 0 !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 3rem !important; }
.mb-0 { margin-bottom: 0 !important }
.mb-1 { margin-bottom: 0.25rem !important }
.mb-2 { margin-bottom: 0.5rem !important }
.mb-3 { margin-bottom: 1rem !important }
.mb-4 { margin-bottom: 1.5rem !important }
.mb-5 { margin-bottom: 3rem !important }
.mr-0 { margin-right: 0 !important }
.mr-1 { margin-right: 0.25rem !important }
.mr-2 { margin-right: 0.5rem !important }
.mr-3 { margin-right: 1rem !important }
.mr-4 { margin-right: 1.5rem !important }
.mr-5 { margin-right: 3rem !important }
.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom: 3rem !important; }

.tooltip {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 4px;
    display: none;
    font-size: 11px;
    z-index: 1000;
}

@media (min-width: 767px) {
    .modal {
        width: 600px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 1s;
}

.fadeOut {
    animation: fadeOut 1s;
}